.swarmIconClass {
  background-image: url("swarm.png");
  background-size: 135%;
  background-position: center;

  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}



.swarmReviews {
  margin: 0;
}

.swarmReviewsList {
  padding: 0;
}

.swarmReviewsList > li {
  display: flex;
  border-bottom: 1px solid var(--ring-borders-color);
}

.swarmReviewsList__changelist {
  min-width: 160px;
  flex: 0 1 auto;
}
.swarmReviewsList__reviews {
  padding-left: 1em;
  flex: 1 1;
}

.swarmReviewsList__typeIcon {
  width: 15px;
  height: 15px;

  vertical-align: text-bottom;
}

.swarmReviewsAge {
  margin-top: 10px;
}
.swarmReviewsAge--progress .swarmReviewsAge__refresh {
  display: none;
}
.swarmReviewsAge__error {
  color: var(--ring-error-color);
  display: block;
}
